h1{
  color: goldenrod;
  
}
body{
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-weight: bolder;
  color: white;
  background-image: url(table.png);
  background-size: cover;
}
#message{
  font-style: italic;
}
button{
  color: #016f32;
  margin: 4px;
  width: 200px;
  height: 40;
  font-size: large;
  font-weight: bolder;
  border-radius: 5px;
  border-color: transparent;
  background-color: goldenrod;
}
div{
  height: 80px;
  text-align: center;
}
img{
  
}